<% layout("/layouts/boilerplate") -%>
  <body>
    <div class="row">
      <div class="col-6 offset-3 mt-3">
    <h3> <b> <%= listing.title %></b></h3>

   
  </div>
    <div class="card card-listing col-6 offset-3" style="width: 45rem;">
      <img src="<%=listing.image.url%>" class="card-img-top show-img" alt="listing_image" style="height:20rem">
      <div class="card-body">
        <p class="card-text">
        <i><b>owned by <%=listing.owner.username%></b></i> </p>
        <p class="card-text">

          <%= listing.description %> 
        </p>
        <p class="card-text">

          &#8377;<%= listing.price.toLocaleString("en-IN")%> 
        </p>
        <p class="card-text">

          <%= listing.location %> 
        </p>
        <p class="card-text">
          <%= listing.country %> 
        </p>
       
      </div>
  </div>
   <br>
   <% if(curruser&&listing.owner._id.equals(curruser._id)){ %>
    <div class="btns">
    <a href="/listings/<%= listing._id %>/edit" class="btn btn-dark col-1 offset-3">Edit</a>
  
    <form method="POST" action="/listings/<%=listing.id%>?_method=DELETE">
     
      <button class="btn btn-dark offset-3">Delete</button>
    </form>
  </div>
  <% } %>
  <br>

  <div class="col-8 offset-3">
    <% if(curruser){%>
      <br>
      <hr>
       <h4>Leave a review</h4>
<form method="POST" action="/listings/<%=listing.id%>/review" novalidate class="needs-validation">
  <div class="mb-3 mt-3">
    <label for="Rating" class="form-label">Rating</label>
  <fieldset class="starability-slot">
    <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
    <input type="radio" id="first-rate1" name="review[rating]" value="1" />
    <label for="first-rate1" title="Terrible">1 star</label>
    <input type="radio" id="first-rate2" name="review[rating]" value="2" />
    <label for="first-rate2" title="Not good">2 stars</label>
    <input type="radio" id="first-rate3" name="review[rating]" value="3" />
    <label for="first-rate3" title="Average">3 stars</label>
    <input type="radio" id="first-rate4" name="review[rating]" value="4" />
    <label for="first-rate4" title="Very good">4 stars</label>
    <input type="radio" id="first-rate5" name="review[rating]" value="5" />
    <label for="first-rate5" title="Amazing">5 stars</label>
  </fieldset>
</div>
  <div class="mb-3 mt-3">
    <label for="feedback" class="form-label">Feedback</label>
  <textarea name="review[feedback]" class="form-control" id="feedback" cols="25" rows="5" required></textarea>
  <div class="invalid-feedback">
 please share your valid feedback
  </div>
    </div>
    <button class="btn btn-outline-dark">submit</button>
</form><br>
<% } %>
<hr>
<br>
<%if(listing.reviews.length>0){%>
<h4>All reviews</h4>
<br>
<div class="row">
<%for(review of listing.reviews ){%>
  <div class="card col-5 ms-3 mb-3" >
    <div class="card-body">
      <h5 class="card-title">@<%=review.author.username%></h5>
      <p class="starability-result card-text" data-rating="<%=review.rating%>"></p> 
      <p class="card-text"><%=review.feedback%> </p>
    </div>
    <% if(curruser&&review.author._id.equals(curruser._id)){ %>
    <form method="POST" action="/listings/<%=listing.id%>/review/<%=review.id%>?_method=DELETE"> 
      <button class="btn btn-sm btn-outline-dark">Delete</button>
    </form>
    <% } %>
    </div>
    
    <%} %>
  </div>
<%}%>
</div>
<div class="mb-3 mt-3">
  where you will be 
  <div id="map">
   
  </div>
  
</div>

</div>
<script>

  const latitude = "<%= listing.latitude %>";
  const longitude = "<%= listing.longitude %>";
  
  console.log(latitude);
  console.log(longitude);
  
  const map = L.map('map').setView(
    [latitude, longitude],
    13
  );
  
  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '© OpenStreetMap contributors'
  }).addTo(map);
  
  L.marker([latitude, longitude])
    .addTo(map)
    .bindPopup("<%= listing.location %>")
    .openPopup();
  
  </script>
  
  </body>

  